body {
    font-family: Verdana,sans-serif;
    font-size: 0.9em;
  }
  
  header, footer {
    padding-top:  10px;
    padding-bottom: 10px;
    color: white;
    background-color: black;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  section {
    margin: 5px;
   
    background-color: lightgrey;
    padding-left: 10%;
    padding-right: 10%;
    padding-top:  10px;
    padding-bottom: 10px;
   
  }
  
  article {
    margin: 5px;
    padding: 10px;
    background-color: white;
  }
  
  nav ul{
    padding: 0;
    padding-left: 10%
  }
  
  nav ul li{
    display: inline;
    margin: 5px;
  }